<!--
                    <tr id="tr_task_{ID}" name="tr_project_{ProjectID}_task" class="taskscontainer_hide" align="left" valign="top" bgcolor="#E7E7E7" style="padding:0px;margin:0px;">
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td><td height="100%" colspan="17"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                      </tr>
                    <tr align="left" valign="middle" id="tr_task_{ID}" name="tr_project_{ProjectID}_task" class="taskscontainer_hide">
                        <td></td>
                        <td></td>
                      <td width="100%" valign="top" title="{txtRolloverDescription}"><a href="index.php?module=projects&amp;action=taskview&amp;projectid={ProjectID}&amp;taskid={ID}">{Name}</a></td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top"></td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top">
                         <img src="images/common/s.gif" width="1" height="5" vspace="0" hspace="0">
                         <table width="100" height="5" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                            <tr align="left" valign="top">
                              <td width="{PercentComplete}" height="5" bgcolor="{txtColour}"><img src="images/common/s.gif" width="{PercentComplete}" height="5"></td>
                              <td width="{Incomplete}" height="5"><img src="images/common/s.gif" width="{Incomplete}" height="5"></td>
                            </tr>
                          </table>
                        </td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top"></td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top" align="right">{txtTargetBudget}</td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top" align="right">{txtActualBudget}</td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top">{txtPriority}</td>
                      <td height="100%">&nbsp;</td>
                     <td nowrap valign="top">{txtStartDate}</td>
                      <td height="100%">&nbsp;</td>
                      <td nowrap valign="top">{txtEndDate}</td>
                    </tr>
-->
