                      <tr align="left" valign="middle">
                        <td width="100%" valign="top"><a alt="{PROJECT_OWNER}" title="{PROJECT_OWNER}" href="index.php?module=projects&amp;action=view&amp;projectid={PROJECT_ID}">{PROJECT_NAME}</a></td>
                        <td height="100%">&nbsp;</td>
                        <td nowrap valign="top">{PROJECT_STATUS}</td>
                        <td nowrap>&nbsp;</td>
                        <td nowrap valign="top">{PROJECT_STARTDATE}</td>
                        <td height="100%">&nbsp;</td>                        
                        <td nowrap valign="top">{PROJECT_ENDDATE}</td>
                      </tr>
                      <!-- Content end -->
