<!-- START MODULE CONTENT WRAPPER -->
    <div class="module-cont-wrapper">
        <div class="module-cont invoicelist">
        
            <ul id="invoicelist">
            
                <!-- START INVOICE HEADER ROW -->
                <li class="sortableHead">
                    <div class="cellTH cellFirst cell-invoice">
                        <p>INVOICES &amp; QUOTES</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-status">
                        <p>STATUS</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-duedate">
                        <p>DUE DATE</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-subtotal">
                        <p>SUBTOTAL</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-tax">
                        <p>TAX</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-amount">
                        <p>AMOUNT</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                </li>
                <!-- END INVOICE HEADER ROW -->
                {invoiceList}
            </ul>
        </div>  
    </div>
    <!-- END MODULE CONTENT WRAPPER -->
