<!-- START MODULE CONTENT WRAPPER -->
    <div class="module-cont-wrapper">

        <div class="module-cont emaillist">     
            <ul id="emaillist">         
                <!-- START EMAIL HEADER ROW -->
                <li class="sortableHead">
                    <div class="cellTH cellFirst cell-subject">
                        <p>SUBJECT</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=subject&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=subject&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-date">
                        <p>DATE</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=date&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=date&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-from">
                        <p>FROM</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=from&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=from&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-to">
                        <p>TO</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=to&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&action=emaillist&projectid={txtProjectID}&order=to&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-attach">
                        <p>LINK TO .EML</p>
                    </div>
                </li>
                <!-- END EMAIL HEADER ROW -->
