
    <!-- START MODULE CONTENT -->
    <div class="module-cont-wrapper">

			<div class="module-cont-header">
				<ul class="horiz-nav">
					<li><a href="#" onclick="newFile(); return false;">{MSG_NEW_FILE}</a></li> | 
					<li><a href="#" onclick="newFolder(); return false;">{MSG_NEW_FOLDER}</a></li>
				</ul>            			
			</div>
            

    
        <div class="module-cont files-list files-in-project">
            <div id="sortableHead" class="sortableHead">

                
                
                    <div class="cellTH cellFirst cell-name">
                        <p>{MSG_NAME}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=name&direction=up" class="up"></a>
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=name&direction=down" class="down"></a>
                        </div>
                    </div>

                    <div class="cellTH cell-lastup">
                        <p>{MSG_LAST_MODIFIED}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=date&direction=up" class="up"></a>
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=date&direction=down" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-size">
                        <p>{MSG_SIZE}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=size&direction=up" class="up"></a>
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=size&direction=down" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-type">
                        <p>{MSG_TYPE}</p>

                        <div class="table-sort">
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=type&direction=up" class="up"></a>
                            <a href="index.php?module=projects&action=filelist&projectid={txtProjectID}&order=type&direction=down" class="down"></a>
                        </div>
                    </div>
                
                
            </div>
                     

            <ul class="files" style="border-bottom:0" id="files-ul">
                <!-- START FILE GROUP -->
                <li class="sortable droppable collapsed" id="project_{txtProjectID}">

                    <!-- START SORTABLE UL -->
                    <ul class="folder-contents expandWrap" id="folderlist_{txtProjectID}_0">
                    </ul>
                    <!-- END SORTABLE UL -->

                </li>
            </ul>


        </div>
    </div>
    <!-- END MODULE CONTENT -->
<script type="text/javascript">
document.observe("dom:loaded", function() {
    if ($('folderlist_{txtProjectID}_0')) {
        var url = 'index.php?module=files&action=ajaxprojectfolders&projectid={txtProjectID}&folderid=0&order={txtOrder}&direction={txtDirection}';
        cu.ajaxGet(url, function(transport) {
            Element.update('folderlist_{txtProjectID}_0', transport.responseText);
            modalDialog.initializeLinks();
           /*
 if (transport.responseText.length > 0) {
                $('files-ul').setStyle({borderBottom:'1px solid #ccc'});
            }
            $$('ul.folder-contents')[0].setStyle({paddingLeft:'0px'});
            $$('ul.folder-contents div.cell-name').each(function(item){ item.setStyle({marginRight:'10px'}); });
*/

            var args = {'module':'files','action':'ajaxprojectfolders','projectid':{txtProjectID},'folderid':0,'order':'{txtOrder}','direction':'{txtDirection}'};
            setupSortable('folderlist_{txtProjectID}_0', args, 'folderlist_{txtProjectID}_0');
        });

    }
});
</script>
<script type="text/javascript" src="assets/js/lib/yahoo/yahoo-dom-event.js"></script>
<script type="text/javascript" src="assets/js/lib/yahoo/element-min.js"></script>
<script type="text/javascript" src="assets/js/lib/yahoo/uploader-min.js"></script>

