<!-- START NEW MODULE CONTENT -->
<div class="module-cont-wrapper">
    <div class="module-cont" style="padding:3px;overflow:hidden;">

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="924" height="560">
  <param name="movie" value="system/modules/projects/templates/gantt-edit.swf">
  <param name="quality" value="high">
  <param name="bgcolor" value="#ffffff">
  <param name="FlashVars" value="projectIDs={projectIDs}">
  <embed src="system/modules/projects/templates/gantt-edit.swf" FlashVars="projectIDs={projectIDs}" quality="high" bgcolor="#ffffff" width="924" height="560" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>

    </div>
</div>
<!-- END NEW MODULE CONTENT -->
