 
<tr> 
    <td align="center" valign="top">
      <table class="outer" border="0" cellpadding="10" cellspacing="0" bgcolor="#E7E7E7" >
        <tr> 
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="5" >
              <tr> 
                <td align="left" valign="top" bgcolor="#FFFFFF">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr align="left" valign="middle">
                            <td width="50%"><strong>{lblBudgetDetails}</strong></td>
                    </tr>
                    <tr align="left" valign="middle" bgcolor="#CCCCCC">
                            <td height="15" colspan="2"><img src="images/common/keyline_mask.gif" width="722" height="15"></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblBudgetTarget}</td>
                            <td width="50%"><strong>{txtBudgetTarget}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblBudgetActual}</td>
                            <td width="50%"><strong>{txtBudgetActual}</strong></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
