 
<tr> 
    <td align="center" valign="top">
      <table class="outer" border="0" cellpadding="10" cellspacing="0" bgcolor="#E7E7E7" >
        <tr> 
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="5" >
              <tr> 
                <td align="left" valign="top" bgcolor="#FFFFFF">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr align="left" valign="middle">
                            <td width="50%"><strong>{lblDetails}</strong></td>
                    </tr>
                    <tr align="left" valign="middle" bgcolor="#CCCCCC">
                            <td height="15" colspan="2"><img src="images/common/keyline_mask.gif" width="722" height="15"></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblProjectID}</td>
                            <td width="50%"><strong>{txtProjectID}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblName}</td>
                            <td width="50%"><strong>{txtName}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblClient}</td>
                            <td width="50%"><strong>{txtClient}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblOwner}</td>
                            <td width="50%"><strong>{txtOwner}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblActive}</td>
                            <td width="50%"><strong>{txtActive}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblStatus}</td>
                            <td width="50%"><strong>{txtStatus}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblComplete}</td>
                            <td width="50%"><strong>{txtComplete}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblURL}</td>
                            <td width="50%"><strong>{txtURL}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblDemoURL}</td>
                            <td width="50%"><strong>{txtDemoURL}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblDescription}</td>
                            <td width="50%"><strong>{txtDescription}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblStart}</td>
                            <td width="50%"><strong>{txtStart}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblEndTarget}</td>
                            <td width="50%"><strong>{txtEndTarget}</strong></td>
                    </tr>
                    <tr align="left" valign="middle">
                            <td width="50%">{lblEndActual}</td>
                            <td width="50%"><strong>{txtEndActual}</strong></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
