								<li>
									<div class="tasklistMeta">
										<div class="cell cellFirst cell-task">
											{indent}
											<a href="index.php?module=projects&action=taskview&projectid={txtProjectID}&taskid={txtTaskID}">{txtTaskName}</a> 
											{txtIssue}</div>
										<div class="cell cell-client"></div>
										<div class="cell cell-perc"><div class="perc-bar"><div style="width:{txtPercentComplete}%; background:{txtColour};">&nbsp;</div></div></div>
										<div class="cell cell-status">&nbsp;</div>
										<div class="cell cell-targetbudget">{txtTargetBudget}</div>
										<div class="cell cell-actualbudget">{txtBudgetCharge}</div>
										<div class="cell cell-priority">{txtPriority}</div>
										<div class="cell cell-start">{txtStartDate}</div>
										<div class="cell cellLast cell-end">{txtEndDate}</div>
									</div>
								</li>
