    <!-- START MODULE CONTENT -->
    <div class="module-cont-wrapper">
        <div class="module-cont projectlist">
        
            <ul id="projectlist" class="projectlistInProjects">
            
                <!-- START PROJECT HEADER ROW -->
                <li class="sortableHead">
                    <div class="cellTH cellFirst cell-task">
                        <p>{MSG_PROJECTS}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=project&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=project&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-client"><p>{lblClient}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=client&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=client&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-perc">
                        <p>{lblProgress}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=progress&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=progress&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-status">
                        <p>{lblStatus}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=status&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=status&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-targetbudget">
                        <p>{lblTargetBudget}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=budget&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=budget&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-actualbudget">
                        <p>{lblActualBudget}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=actualbudget&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=actualbudget&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-priority">
                        <p>{lblPriority}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=priority&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=priority&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-start">
                        <p>{lblStarts}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=starts&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=starts&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-end">
                        <p>{lblEnds}</p>
                        <div class="table-sort">
                            <a href="index.php?module=projects&{lblArchive}order=ends&direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=projects&{lblArchive}order=ends&direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                </li>
                <!-- END PROJECT HEADER ROW -->
