<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="444" height="197">
    <param name="movie" value="system/modules/projects/templates/task-commitment.swf">
    <param name="quality" value="high">
    <param name="bgcolor" value="#ffffff">
    <param name="FlashVars" value="taskID={txtTaskID}">
    <embed src="system/modules/projects/templates/task-commitment.swf" FlashVars="taskID={txtTaskID}" quality="high" bgcolor="#ffffff" width="435" height="187" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>
