                                  <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#E7E7E7">
                                    <tr>
                                      <td width="100%" align="left" valign="top" bgcolor="#E7E7E7"><table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
                                          <tr>
                                            <td><strong>{message}</strong></td>
                                          </tr>
                                        </table></td>
                                    </tr>
                                  </table>
                                  <img src="images/common/s.gif" width="1" height="20">