          <form name="search"><td height="25" nowrap>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="25"><input type="hidden" name="module" value="search"><input type="text" name="searchTerm" style="border: 1px solid #CCCCCC;width:100px;height:16px;font-size:9px"></td>
                <td><img src="images/nav/b_left.gif" width="10" height="20"></td>
                <td valign="middle" background="images/nav/bs_bg.gif"><a href="javascript:document.search.submit();" onfocus="if(this.blur)this.blur()" style="color: #FFFFFF;">Search</a></td>
                <td><img src="images/nav/b_right.gif" width="10" height="20"></td>
              </tr>
            </table></td>
          </form>