	<div class="credits">
		<p><a title="Online Project Management Software | Copper Project &copy; 2002 - <?php echo date('Y'); ?>" href='http://www.copperproject.com'>Managed with <span>Copper</span></a></p>
	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-391547-9']);
  _gaq.push(['_setDomainName', '.copperhub.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- END WRAPPER -->
</body>
</html>