<div class="module-cont-wrapper">
	<div class="module-cont-header">
		<h2><a href="http://www.copperproject.com">{MSG_INTRO}</a> <span class="subhead">{PRODUCTNAME}</span></h2>
	</div>
	
	<div class="module-cont about-copper">
	
		<div class="col-l">
			<dl>
				<dt>{NAME_TITLE}:</dt><dd>{LICENSENAME}</dd>
				<dt>{COMPANY_TITLE}:</dt><dd>{LICENSECOMPANY}</dd>
				<dt>{VERSION_TITLE}:</dt><dd>{PRODUCTVERSION}</dd>						
			</dl>
		</div>
	
		<div class="col-r">
			<dl>
				<dt>{COPYRIGHT}</dt>
				<dt>{WEBLINK}:</dt><dd><a href="http://www.copperproject.com/" target="_blank">www.copperproject.com</a></dd>
				<dt>{EMAILLINK}:</dt><dd><a href="mailto:support@copperproject.com">support@copperproject.com</a></dd>	
				<dt>{FORUMSLINK}:</dt><dd><a href="http://www.copperproject.com/forum/" target="_blank">www.copperproject.com/forum</a></dd>		
			</dl>
		</div>

		<div class="clearPlz"></div>
		<hr />		
		<p><strong>{WARNING_TITLE}:{WARNING_MESSAGE}</strong></p>
	
	</div>
</div>