                                <li>
                                    <div class="projectlistMeta">
                                        <div class="cell cellFirst cell-client"><a href="index.php?module=projects&amp;action=view&amp;projectid={ID}">{ProjectName}</a></div>
                                        <div class="cell cell-owner">{FirstName} {LastName}</div>
                                        <div class="cell cell-perc"><div class="perc-bar"><div style="width:{PercentComplete}%; background:{Colour};">&nbsp;f</div></div></div>
                                        <div class="cell cell-status">{Status}</div>
                                        <div class="cell cell-active">{Active}</div>
                                        <div class="cell cell-budget">{BudgetCharge}</div>
                                        <div class="cell cell-priority">{Priority}</div>
                                        <div class="cell cell-latest">{LatestActivity}</div>
                                        <div class="cell cell-start">{StartDate}</div>
                                        <div class="cell cellLast cell-end">{EndDate}</div>
                                    </div>
                                </li>
