                    <tr id="tr_project_{ID}" name="tr_client_{ClientID}_project" class="projectscontainer_hide" align="left" valign="top" bgcolor="#E7E7E7" style="padding:0px;margin:0px;">
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td><td height="100%" colspan="7"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                      </tr>
                      <tr align="left" valign="top" id="tr_project_{ID}" name="tr_client_{ClientID}_project" class="projectscontainer_hide">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="index.php?module=projects&amp;action=view&projectid={ID}">{ProjectName}</a></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>

