<!-- START NEW MODULE CONTENT -->
<div class="module-cont-wrapper">
    <div class="module-cont">

      <table class="outer" border="0" cellpadding="10" cellspacing="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr align="left" valign="middle">
                      <td width="100%">
                                              <table width="100%" cellpadding="0" cellspacing="1" border="0">
                                                        <tr>
                                                        <td width="100%" rowspan="2" NOWRAP><strong>{lblContactName}</strong></td>
                                                        <td><a href="index.php?module=clients&amp;action=contactlist&amp;id={ID}&amp;order=name&amp;direction=up"><img src="images/arrow_up.gif" width="5" height="5" border="0" alt="{lblAsc}" /></a></td>
                                                        </tr>
                                                        <tr>
                                                   <td><a href="index.php?module=clients&amp;action=contactlist&amp;id={ID}&amp;order=name&amp;direction=down"><img src="images/arrow_down.gif" width="5" height="5" border="0" alt="{lblDesc}" /></a></td>
                                                        <tr>
                                                    </table>
                        </td>
                        <td width="20" height="100%"><img src="images/common/s.gif" width="20" height="20"></td>
                        <td nowrap>
                                                    <table width="100%" cellpadding="0" cellspacing="1" border="0">
                                                        <tr>
                                                        <td width="100%" rowspan="2" NOWRAP><strong>{MSG_PHONE}</strong></td>
                                                        <td><a href="index.php?module=clients&amp;action=contactlist&amp;id={ID}&amp;order=phone&amp;direction=up"><img src="images/arrow_up.gif" width="5" height="5" border="0" alt="{lblAsc}" /></a></td>
                                                        </tr>
                                                        <tr>
                                                <td><a href="index.php?module=clients&amp;action=contactlist&amp;id={ID}&amp;order=phone&amp;direction=down"><img src="images/arrow_down.gif" width="5" height="5" border="0" alt="{lblDesc}" /></a></td>
                                                        <tr>
                                                    </table>
                        </td>
                        <td width="20" height="100%"><img src="images/common/s.gif" width="20" height="20"></td>
                        <td nowrap>
                                                    <table width="100%" cellpadding="0" cellspacing="1" border="0">
                                                        <tr>
                                                        <td width="100%" rowspan="2" NOWRAP><strong>{lblEmailAddress}</strong></td>
                                                        <td><a href="index.php?module=clients&amp;action=contactlist&amp;id={ID}&amp;order=email&amp;direction=up"><img src="images/arrow_up.gif" width="5" height="5" border="0" alt="{lblAsc}" /></a></td>
                                                        </tr>
                                                        <tr>
                                                   <td><a href="index.php?module=clients&amp;action=contactlist&amp;id={ID}&amp;order=email&amp;direction=down"><img src="images/arrow_down.gif" width="5" height="5" border="0" alt="{lblDesc}" /></a></td>
                                                        <tr>
                                                    </table>
                        </td>
                         <td width="20" height="100%"><img src="images/common/s.gif" width="20" height="20"></td>
                    <td nowrap>
                                                    <table width="100%" cellpadding="0" cellspacing="1" border="0">
                                                        <tr>
                                                        <td width="100%" rowspan="2" NOWRAP><strong>{MSG_LAST_CONTACT}</strong></td>
                        <tr>                                                    </table>
                        </td>  
                      </tr>
                      <tr align="left" valign="middle">
                        <td width="100%" height="15" valign="top" bgcolor="#CCCCCC"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                        <td height="15" valign="top"><img src="images/common/s.gif" width="20" height="15"></td>
                        <td height="15" valign="top" nowrap bgcolor="#CCCCCC"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                        <td height="15" valign="top"><img src="images/common/s.gif" width="20" height="15"></td>
                        <td height="15" valign="top" nowrap bgcolor="#CCCCCC"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                        <td height="15" valign="top"><img src="images/common/s.gif" width="20" height="15"></td>
                        <td height="15" valign="top" nowrap bgcolor="#CCCCCC"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                      </tr>
                      <!-- Content start -->

