                      <tr align="left" valign="middle" bgcolor="{bgcolor}">
                        <td width="100%" valign="top"><strong><a href="index.php?module=contacts&amp;action=view&amp;id={CONTACT_ID}">{CONTACT_NAME}</a></strong></td>
                        <td height="100%">&nbsp;</td>
                        <td nowrap valign="top">{CONTACT_PHONE}</td>
                        <td height="100%">&nbsp;</td>
                        <td nowrap valign="top"><a href="mailto:{CONTACT_EMAIL}">{CONTACT_EMAIL}</a></td>
                        <td height="100%">&nbsp;</td>
                        <td nowrap valign="top">{CONTACT_LAST_CONTACT}</td>
 
                      </tr>
                      <!-- Content end -->
