  <tr>
    <td align="center" valign="top">
      <table class="outerthin" border="0" cellpadding="10" cellspacing="0">
        <tr>
          <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td align="center" valign="top" bgcolor="#FFFFFF">
                <strong>{MESSAGE}</strong>
                <br /><br />
                [ <a href="index.php?module=clients" class="linkon">{OK}</a> ]
                </div>
                              </td>
              </tr>
            </table>
                    </td>
        </tr>
      </table>
    </td>
  </tr>

