<!-- START NEW MODULE CONTENT -->
<div class="module-cont-wrapper">
    <div class="module-cont">

      <table class="outer" border="0" cellpadding="10" cellspacing="0">
        <tr> 
          <td> 
            <table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">
              <tr> 
                <td align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center">
                        {MESSAGE}
                        </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </div>
</div>
<!-- END NEW MODULE CONTENT -->
