            <ul id="clients">
                <!-- START CLIENT HEADER ROW -->
                <li class="sortableHead">
                    <div class="cellTH cellFirst cell-client">
                        <p>{MSG_CLIENT}</p>
                        <div class="table-sort">
                            <a href="index.php?module=clients&amp;{lblArchive}order=client&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=clients&amp;{lblArchive}order=client&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-owner">
                        <p>{MSG_OWNER}</p>
                        <div class="table-sort">
                            <a href="index.php?module=clients&amp;{lblArchive}order=manager&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=clients&amp;{lblArchive}order=manager&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-perc">
                        <p>{MSG_EST} %</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-status">
                        <p>{MSG_STATUS}</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-active">
                        <p>{MSG_ACTIVE}</p>
                        <div class="table-sort">
                            <a href="index.php?module=clients&amp;{lblArchive}order=active&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=clients&amp;{lblArchive}order=active&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-budget">
                        <p>{MSG_ACTUAL}</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-priority">
                        <p>{MSG_PRIORITY}</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-latest">
                        <p>{MSG_LATESTACTIVITY}</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-start">
                        <p>{MSG_STARTS}</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-end">
                        <p>{MSG_ENDS}</p>
                        <div class="table-sort">
                            <a href="#" class="up"></a>
                            <a href="#" class="down"></a>
                        </div>
                    </div>
                </li>
                <!-- END CLIENT HEADER ROW -->
