                <!-- START PROJECT -->
                <li class="sortable droppable collapsed">
                    <div class="sortableMeta">
                        <div class="cell cellFirst cell-task"><a href="index.php?module=projects&amp;action=view&amp;projectid={ProjectID}">{ProjectName}</a></div>
                        <div class="cell cell-perc"><div class="perc-bar"><div style="width:{PercentComplete}%; background:{ProjectColour};">&nbsp;</div></div></div>
                        <div class="cell cell-status">{Status}</div>
                        <div class="cell cell-targetbudget">{TargetBudget}</div>
                        <div class="cell cell-actualbudget">{ChargeBudget}</div>
                        <div class="cell cell-priority">{Priority}</div>
                        <div class="cell cell-latest">{LatestActivity}</div>
                        <div class="cell cell-start">{StartDate}</div>
                        <div class="cell cellLast cell-end">{EndDate}</div>
                    </div>
                    <div class="expandWrap" style="display:none;">
                    </div>
                    
                </li>
                <!-- END PROJECT -->
