                                <li id="invoiceitem{txtItemID}">
                                    <div class="invoicetasklistMeta">
                                        <div class="cell cellFirst cell-task">{txtName}</div>
                                        <div class="cell cell-desc">{txtDescription}</div>

                                        <div class="cell cell-subtotal">{txtAmount}</div>
                                        <div class="cell cell-tax">{txtTax}</div>
                                        <div class="cell cellLast cell-amount">{txtTotal}</div>
                                    </div>
                                </li>
