</div>

<div class="clear">
	<!-- scroll here baby -->
	<a name="new_invoice"></a>
	<a name="new_quote"></a>
	<a name="other_items"></a>
</div>

<div class="js_other_items_list purchase_items js_hidden">



	<div class="module-cont-header js_show_purchase_header">
		<h2>{MSG_ADD_OTHER_ITEMS}</h2>
	</div>

	<div class="module-cont js_show_purchase_items">
	
		<ul class='js_other_items_itemlist'>
			<li class="sortableHead">
				<div class="cellTH cell-task">
					<p>{MSG_OTHER_ITEMS}</p>
				</div>
				<div class="cellTH cell-budget">
					<p>{MSG_BUDGET}</p>
				</div>
				<div class="cellTH cell-cost">
					<p>{MSG_COST}</p>
				</div>
				<div class="cellTH cell-charge">
					<p>{MSG_CHARGE}</p>	 
				</div>
				
				<div class="cellTH cellLast cell-addnewother">
					<p>{MSG_ADD}</p>	 
				</div>				
			</li>	
