<tr>
  <td align="center" valign="top">
    <table class="outer" border="0" cellpadding="10" cellspacing="0">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td align="left" valign="top" bgcolor="#FFFFFF">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr align="left" valign="middle"> 
                    <td nowrap>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr align="left" valign="top"> 
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr align="left" valign="top"> 
                                <td nowrap><strong>{searchFormTitle}</strong></td>
                              </tr>
                              <tr align="left" valign="top"> 
                                <td height="15" nowrap bgcolor="#E7E7E7"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                              </tr>
                              <tr align="left" valign="top"> 
                                <td>
                                  <form name="searchForm" style="display: inline;">
                                    <input type="hidden" name="module" value="{module}">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td><input type="text" name="searchTerm" style="width: 120px;" value="{searchTerm}" class="TaskEdit_tf">&nbsp;</td>
                                        <td width="105" align="left"><a href="javascript: document.searchForm.submit();"><img style="background: #E7E7E7;" src="images/icons/but_go.gif" border="0"/></a></td>
                                      </tr>
                                    </table>
                                  </form>
                                </td>
                              </tr>
                              <tr align="left" valign="top"> 
                                <td><img src="images/common/s.gif" width="20" height="20"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
