<!-- START MODULE CONTENT WRAPPER -->
<div class="module-cont-wrapper">
	<!-- START MODULE CONTENT -->
	<div class="module-cont admin-appearance">
		<!-- START LEFT COL -->
		<div class="col-l">

			<h4>Import Successful!</h4>
			<p>We imported the following for you:</p>
			
			<ul>
				<li><?php EF::t($stats['firm_people']); ?> people from your company (users)</li>
				<li><?php EF::t($stats['clients']); ?> clients that you work for</li>
				<li><?php EF::t($stats['contacts']); ?> contacts that you know</li>
				<li><?php EF::t($stats['projects']); ?> projects that you work on</li>
				<li><?php EF::t($stats['todos']); ?> todos over those projects</li>
				<li><?php EF::t($stats['milestones']); ?> milestones for all those projects.</li>
			</ul>
			<p>Enjoy!</p>
			
		</div>
		<!-- END LEFT COL -->
		<!-- START RIGHT COL -->
		<div class="col-r">
		</div>
		<!-- END RIGHT COL -->
	</div>
	<!-- END MODULE CONTENT -->
</div>
<!-- END MODULE CONTENT WRAPPER -->
