            <ul id="tasks">
            
                
                <li class="sortableHead">
                    <div class="cellTH cellFirst cell-task">
                        <p>{MSG_TASKS}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=task&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=task&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-client"><p>{MSG_CLIENT}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=client&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=client&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-project">
                        <p>{MSG_PROJECT}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=project&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=project&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-perc">
                        <p>{MSG_EST_PERCENT}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=progress&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=progress&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-priority">
                        <p>{MSG_PRIORITY}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=urgency&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=urgency&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-latest">
                        <p>{MSG_LATESTACTIVITY}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=latestactivity&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=latestactivity&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-start">
                        <p>{MSG_START}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=start&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=start&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-end">
                        <p>{MSG_END}</p>
                        <div class="table-sort">
                            <a href="index.php?module=springboard&amp;order=deadline&amp;direction=up&start={start}&show={show}&action={action}&completed={completed}" class="up"></a>
                            <a href="index.php?module=springboard&amp;order=deadline&amp;direction=down&start={start}&show={show}&action={action}&completed={completed}" class="down"></a>
                        </div>
                    </div>
                </li>
                
