                                            <h4 class="toggler"><a class="max" href="#file-details" onclick="toggleComponent(this,'file-details'); return false;">{MSG_RELATES_TO}</a></h4>
                                            <div class="file-details">
                                                <dl>
                                                    <dt>{MSG_PROJECT}</dt>
                                                    <dd>{txtProjectName}</dd>
                                                    <dd class="divider">&nbsp;</dd>
                                                    
                                                    <dt>{MSG_TASK}</dt>
                                                    <dd>{txtTaskName}</dd>
                                                    <dd class="divider">&nbsp;</dd>
                                                </dl>
                                            </div>
