                                                <!-- START FILE -->
                                                <li class="sortable droppable collapsed file" id="file_{txtFileID}">
                                                    <div class="sortableMeta">
                                                        <div class="cell cellFirst cell-name"><a class="min" onclick="toggleFile(this, {txtFileID}); return false;" href="#" id="toggler-file-{txtFileID}"><img src="assets/images/file/{txtIcon}" id="fileicon{txtFileID}" alt="" /></a><span class="handle" id="filename{txtFileID}">{txtFileName}</span></div>
                                                        <div class="cell cell-lastup" id="filetime{txtFileID}">{txtLastModified}</div>
                                                        <div class="cell cell-size" id="filesize{txtFileID}">{txtSize}</div>
                                                        <div class="cell cellLast cell-type" id="filetype{txtFileID}">{txtType}</div>
                                                    </div>
                                                    <div class="expandWrap" style="display:none;" id="fileholder-{txtFileID}">
                                                    </div>
                                                </li>
                                                <!-- END FILE -->
