                                    <ul class="horiz-nav folderNav">
                                        <li></li>{actions}
                                        <li class="first" style="display:none"><a href="#" onclick="saveFolderName({txtProjectID}, {txtFolderID}); return false;">{MSG_SAVE}</a></li>
                                        <li style="display:none">|<a href="#" onclick="cancelEditFolder({txtProjectID}, {txtFolderID}); return false;">{MSG_CANCEL}</a></li>

                                    </ul>


