                            <div class="sortableMeta newFile">
                                <div class="cell cellFirst cell-name" ><span id="inputwrapper_0" class="newFolder"><input id="input_0" type="text" value="" class="edit" /></span></div>
                                <div class="cell cell-lastup"></div>
                                <div class="cell cell-size"></div>
                                <div class="cell cellLast cell-type"></div>
                            </div>
                            <div class="cell cell-expanded-nav">
                                <ul class="horiz-nav">
                                    <li><a href="#" onclick="saveNewFolder({txtProjectID}, 0); return false;">{MSG_SAVE}</a></li>
                                    <li>|<a href="#" onclick="cancelNewFolder({txtProjectID}, 0); return false;">{MSG_CANCEL}</a></li>
                                </ul>
                            </div>

