<li class="contacts <?php EF::t($active); ?>">
  <a class="top" href="?module=contacts">{MSG_CONTACTS}</a>
  <p>
  	<span class="m">
      <a href="?module=contacts#newContact" id="m1NewContact">{MSG_NEW_CONTACT}</a>
			<a href="?module=contacts&amp;action=import">{MSG_IMPORT_VCARD}</a>
			<a href="?module=contacts&amp;action=exportcsv">{MSG_DOWNLOAD_CSV}</a>
			<a href="http://www.copperproject.com/help/contacts">{MSG_HELP}</a>
  	</span>
  	<span class="d">
  		{MSG_M1_DESC_CONTACTS}
  	</span>	            	
  <span class="clearPlz"></span>
  <span class="bottom"></span>
 </p>
</li>