  <tr>
    <td align="center" valign="top">
      <table class="outerthin" border="0" cellpadding="10" cellspacing="0">
        <tr>
          <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td align="left" valign="top" bgcolor="#FFFFFF">
                                    {MESSAGE}
                    <br /><br />
                                    <div align="center">
                  [ <a href="index.php?module=contacts&amp;action=delete&amp;id={ID}&clientid={clientID}&amp;confirm=1" class="linkon">{YES}</a> ] [ <a href="index.php?module=contacts" class="linkon">{NO}</a> ]
                                    </div>
                              </td>
              </tr>
            </table>
                    </td>
        </tr>
      </table>
    </td>
  </tr>
