<form name="uploadfile" action="index.php" enctype="multipart/form-data" method="post" >
<input type="hidden" name="module" value="contacts" >
<input type="hidden" name="action" value="importvcard" >


	<div class="module-cont-wrapper">
		<div class="module-cont-header">
			<h2>Import VCard</h2>
		</div>
		
		<div class="module-cont about-copper">
		
			<div class="col-l">
				<dl>
					<dt>Browse:</dt><dd><input type="file" name="file" class="TaskEdit_tf"></dd>
					<dt></dt><dd><input type="submit" name="submit" value="Submit" /></dd>					
				</dl>
			</div>
		
			<div class="col-r">

			</div>
	
			<div class="clearPlz"></div>

		</div>
	</div>


</form>
