<!-- START NEW MODULE CONTENT -->
<div class="module-cont-wrapper">
    <div class="module-cont contacts">

        <ul id="contacts">

                <li class="sortableHead">
                    <div class="cellTH cellFirst cell-contacts">
                        <p>{MSG_CONTACT_NAME}</p>
                        <div class="table table-sort">
                            <a href="index.php?module=contacts&amp;order=name&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=contacts&amp;order=name&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-company"><p>{MSG_CLIENT_NAME}</p>
                        <div class="table table-sort">
                            <a href="index.php?module=contacts&amp;order=cname&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=contacts&amp;order=cname&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-title">
                        <p>{MSG_TITLE}</p>
                        <div class="table table-sort">
                            <a href="index.php?module=contacts&amp;order=title&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=contacts&amp;order=title&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-phone">
                        <p>{MSG_PHONE}</p>
                        <div class="table table-sort">
                            <a href="index.php?module=contacts&amp;order=phone&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=contacts&amp;order=phone&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-mobile">
                        <p>{MSG_MOBILE}</p>
                        <div class="table table-sort">
                            <a href="index.php?module=contacts&amp;order=mobile&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=contacts&amp;order=mobile&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cell-email">
                        <p>{MSG_EMAIL}</p>
                        <div class="table table-sort">
                            <a href="index.php?module=contacts&amp;order=email&amp;direction=up&start={start}" class="up"></a>
                            <a href="index.php?module=contacts&amp;order=email&amp;direction=down&start={start}" class="down"></a>
                        </div>
                    </div>
                    <div class="cellTH cellLast cell-contact">
                        <p>{MSG_CONTACT}</p>
                        <div class="table table-sort">
                            <a href="" class="up"></a>
                            <a href="" class="down"></a>
                        </div>
                    </div>
                </li>
