
                <li class="sortable droppable collapsed" id="contact-li-{txtID}">
                    <div class="sortableMeta">
                        <div class="cell cellFirst cell-contacts"><a name="contact-{txtID}" class="min" style="background-color: rgb(0, 204, 255);" onclick="toggleContact(this, {txtID}); return false;" href="#" id="contact-opener-{txtID}"></a><span class="handle">{txtName}</span></div>
                        <div class="cell cell-company"><a href="index.php?module=clients&action=view&id={txtClientID}">{txtCName}</a></div>
                        <div class="cell cell-title">{txtTitle}</div>
                        <div class="cell cell-phone">{txtPhone}</div>
                        <div class="cell cell-mobile">{txtMobile}</div>
                        <div class="cell cell-email"><a href="mailto:{txtEmail}">{txtEmail}</a></div>
                        <div class="cell cellLast cell-contact">{txtLastContact}</div>
                    </div>

                    <div class="expandWrap" style="display:none;" id="contactholder-{txtID}">
                    </div>    

                    
                </li>


