<!-- START NEW MODULE CONTENT -->
<div class="module-cont-wrapper">
    <div class="module-cont">


      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr align="left" valign="top">
                    <td class="innercell"><table border="0" cellspacing="0" cellpadding="0" class="innercell">
                        <tr align="left" valign="middle">
                          <td colspan="2"><span class="header">{FirstName}&nbsp;{LastName}</span></td>
                        </tr>
                        <tr align="left" valign="middle">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="middle">
                          <td colspan="2" width="100%">{Notes}</td>
                        </tr>
                        <tr align="left" valign="middle" bgcolor="#CCCCCC">
                          <td height="15" colspan="2"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                        </tr>
                        <tr align="left" valign="middle">
                          <td width="50%">{MSG_TITLE}</td>
                          <td width="50%"><strong>{Title}</strong></td>
                        </tr>
                        <tr align="left" valign="middle">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td valign="middle">{MSG_FIRST_NAME}</td>
                          <td><strong>{FirstName}</strong></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td valign="middle">{MSG_LAST_NAME}</td>
                          <td><strong>{LastName}</strong></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td valign="middle">{MSG_CLIENT}</td>
                          <td><strong>{ClientName}</strong></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td valign="middle">{lblKeyContact}</td>
                          <td><strong>{KeyContact}</strong></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td>{MSG_EMAIL_ADDRESS}</td>
                          <td><strong>{EmailAddress1}<br />
                            {EmailAddress2}</strong></td>
                        </tr>
                        <tr align="left" valign="middle">
                          <td height="10" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
                        </tr>
                        <tr align="left" valign="top">
                          <td>{MSG_PHONE}</td>
                          <td><strong>{Phone1}<br />
                            {Phone2}<br />
                            {Phone3}</strong></td>
                        </tr>
                      </table></td>
                    <td class="innersplit"><img src="images/common/s.gif" class="innersplit"></td>
                    <td class="innercell"><table border="0" cellspacing="0" cellpadding="0" class="innercell">
                        <tr align="left" valign="top">
                          <td height="20" colspan="2" nowrap><img src="images/common/s.gif" width="100%" height="10" /></td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr align="left" valign="middle">
                    <td height="10" colspan="3"><img src="images/common/s.gif" width="100%" height="10"></td>
                  </tr>                  
                </table></td>
            </tr>
          </table></td>
      </tr>
    </table></td>
</tr>
<tr align="left" valign="middle">
  <td height="10" colspan="3" nowrap><img src="images/common/s.gif" width="100%" height="10"></td>
</tr>
<tr>
  <td align="center" valign="top"><table class="outer" border="0" cellpadding="10" cellspacing="0" bgcolor="#E7E7E7" >
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="5" >
            <tr>
              <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
                  <tr>
                    <td colspan="3" width="100%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        {updates}
                      </table></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
    </table>

    </div>
</div>
<!-- END NEW MODULE CONTENT -->
