<form name="resourcesetsave" action="index.php" method="post" id="mainForm">
    <input type="hidden" name="module" value="calendar" >
    <input type="hidden" name="action" value="resourcesetsave" >
    <input type="hidden" name="resourceID" value="{txtResourceID}" >

                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                    <tr align="left" valign="top">
                        <td class="innercell">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

