<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" height="100%" align="center" valign="top"><img src="images/common/s.gif" width="1" height="30">
            <form action="index.php" method="post" name="request" >
            <input type="hidden" name="module" value="authorisation">
            <input type="hidden" name="action" value="password">
            <input type="hidden" name="sub" value="exec">
        <table class="outerthin" border="0" cellpadding="10" cellspacing="0">
          <tr>
            <td align="left" valign="top">
                            <table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">
                <tr>
                  <td align="left" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr align="left" valign="top">
                        <td width="50%" valign="bottom" colspan="2"><strong>{PASS}</strong></td>
                      </tr>
                      <tr align="left" valign="top" bgcolor="#CCCCCC">
                        <td colspan="2"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                      </tr>
                      <tr align="left" valign="top">
                        <td width="50%" valign="middle">{EMAIL}</td>
                        <td width="50%"><input type="text" name="emailaddress" class="TaskEdit_tf" style="width:100%"></td>
                      </tr>
                      <tr align="left" valign="top">
                        <td height="10" colspan="2"><img src="images/common/s.gif" width="100%" height="10"></td>
                      </tr>
                      <tr align="left" valign="top" bgcolor="#CCCCCC">
                        <td colspan="2"><img src="images/common/keyline_mask.gif" width="100%" height="15"></td>
                      </tr>
                      <tr align="left" valign="top">
                        <td colspan="2">
                                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="105" height="18" align="left" valign="top" bgcolor="#E7E7E7"><a href="javascript:document.request.submit()" onfocus="if(this.blur)this.blur()"><img src="images/icons/but_go.gif" border="0"></a></td>
                              <td class="{CLASS}" align="center">{MESSAGE}&nbsp;</td>
                            </tr>
                          </table>
                                                </td>
                      </tr>
                    </table>
                                    </td>
                </tr>
              </table>
                        </td>
          </tr>
        </table>
      </form>
        </td>
    </tr>
</table>

