                        <tr align="left" valign="middle"> 
                          <td nowrap>{CATEGORY}</td>
                          <td>&nbsp;</td>
                          <td>{ITEM}</td>
                          <td>&nbsp;</td>
                          <td nowrap> {ACCESS}</td>
                          <td nowrap>&nbsp;</td>
                          <td nowrap>
                          <a class="linkon" href="index.php?module=administration&amp;action=groupmoddel&amp;sid={SID}&amp;id={GROUPID}">{MSG_REMOVE}</a></td>
                        </tr>
